<footer class="ph3 pv4">

	<div class="mw9 center pt3 ph3-l">


		<div class="f6 flex-ns justify-between">

			<div class="ph2-l">
				<h3 class="b lh-title mb3">saketakuについて</h3>
				<ul class="mb3">
					<li><a href="/#product" class="link">お届け内容</a></li>
					<li><a href="/invite" class="link">お友達紹介プログラム</a></li>
					<li><a href="//support.saketaku.com/" class="link" target=_blank>よくある質問</a></li>
				</ul>
			</div>
			<div class="ph2-l">
				<h3 class="b lh-title mb3">私たちについて</h3>
				<ul class="mb3">
					<li><a href="/vision" class="link">私たちについて</a></li>
					<li><a href="//lab.saketaku.com" class="link">saketaku公式ブログ</a></li>
					<li><a href="/press" class="link">メディア掲載について</a></li>
					<li><a href="/company" class="link">運営会社</a></li>
				</ul>
			</div>
			<div class="ph2-l">
				<h3 class="b lh-title mb3">saketaku会員様向け</h3>
				<ul class="mb3">
					<li><a href="//cart.saketaku.com/account/my_page_menu" class="link">ログイン</a></li>
					<li><a href="//cart.saketaku.com/shop/display_cart" class="link">カートを見る</a></li>
				</ul>
			</div>
			<div class="ph2-l">
				<h3 class="b lh-title mb3">その他</h3>
				<ul class="mb3">
					<li><a href="mailto:hi@saketaku.com" class="link">お問い合わせ</a></li>
					<li><a href="/privacy" class="link">プライバシーポリシー</a></li>
					<li><a href="/terms" class="link">利用規約</a></li>
					<li><a href="/members" class="link">会員規約</a></li>
					<li><a href="/sctl" class="link">特定商取引に基づく表記</a></li>
				</ul>
			</div>
			<div class="ph2-l">
				<h3 class="b lh-title mb3">SNSで素敵な情報お届け中</h3>
				<ul class="mb3">
					<li><a href="//instagram.com/saketaku_san" class="link">Instagram</a></li>
					<li><a href="//fb.com/saketaku.san" class="link">Facebook</a></li>
					<li><a href="//twitter.com/saketaku_san" class="link">Twitter</a></li>
				</ul>
			</div>




		</div>

		<div class="pv3">
      <a href="https://heapanalytics.com/?utm_source=badge" rel="nofollow"><img style="width:108px;height:41px" src="//heapanalytics.com/img/badge.png" alt="Heap | Mobile and Web Analytics"></a>
    </div>

	</div>

</footer>

<script src="/app.js"></script>

<!-- BEGIN KLAVIYO SIGNUP FORM CODE -->
<script type="text/javascript">
var __klKey = __klKey || 'LMvqNT';
(function() {
var s = document.createElement('script');
s.type = 'text/javascript';
s.async = true;
s.src = '//static.klaviyo.com/forms/js/client.js';
var x = document.getElementsByTagName('script')[0];
x.parentNode.insertBefore(s, x);
})();
</script>
<!-- END KLAVIYO SIGNUP FORM CODE -->

</body>

</html>
