<head>

	<title>{{ .Title }} | saketaku</title>
	<link rel="stylesheet" href="/css/main.css" />

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<link async rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/css/yakuhanjp.min.css">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/global/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/global/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/global/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400">
	<meta name="theme-color" content="#000">

	<!-- Open Graph -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="日本酒の定期便（頒布会）saketaku | 美味しい日本酒の定期購入サービス">
	<meta property="og:url" content="https://saketaku.com">
	<meta property="og:image" content="https://saketaku.com/img/global/og-image.jpg">

	<!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-76642310-9');
	  ga('send', 'pageview');
	</script>

	<!-- Yahoo! Display Ads -->
	<script type="text/javascript" language="javascript">
	/* <![CDATA[ */
	var yahoo_retargeting_id = 'FKOH1A9TSV';
	var yahoo_retargeting_label = '';
	var yahoo_retargeting_page_type = '';
	var yahoo_retargeting_items = [{item_id: '', category_id: '', price: '', quantity: ''}];
	/* ]]> */
	</script>
	<script type="text/javascript" language="javascript" src="https://b92.yahoo.co.jp/js/s_retargeting.js"></script>


	<!-- Segment -->
	<script>
	  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
	  analytics.load("awCD4G7UnKCDiG5Di649QCDB7cSfepqN");
	  analytics.page();
	  }}();
	</script>

	<!-- Facebook Pixel -->
	<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	document,'script','https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '1309014082550135'); // Insert your pixel ID here.
	fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=189078818278047&ev=PageView&noscript=1"
	/></noscript>


	<!-- HEAP -->
	<script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
	    heap.load("1456406598");
	</script>

	<!-- Yotpo -->
	<script type="text/javascript">
	(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/ll6NIsvNfEZRWovqNqpTdfiR0xi01Os0NVDvyXWS/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
	</script>

	<!-- FOMO -->
	<script type="text/javascript" src="https://www.usefomo.com/api/v1/k7uLcXkOEAv2z4jTImrggw/load.js" async></script>

	<!-- autopilot -->
	<script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="9fedbc58c81746fc8c00332d2ded46a4fbaef813d95b4341863b47d9b50f874c",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>

	

</head>