<!-- <div class="jump flex items-center justify-center">
  <div class="jump-text">
    <span class="jump-animation">s</span>
    <span class="jump-animation">a</span>
    <span class="jump-animation">k</span>
    <span class="jump-animation">e</span>
    <span class="jump-animation">t</span>
    <span class="jump-animation">a</span>
    <span class="jump-animation">k</span>
    <span class="jump-animation">u</span>
  </div>
</div> -->


{{ partial "modal" .Params.hero }}

<nav class="mw9 center relative">
  <div class="w-100 flex flex-row-l flex-column flex-row-l justify-between items-center ">
      
    <!-- Logo -->
    <a href="/" class="ph3 pt3 pb1 db mr4-l h-100 w4 flex-none">
      <img src="/img/global/logo.svg" alt="日本酒の定期購入「saketaku」logo" class="br0 mb0 w-100"/>
    </a>

    <!-- Primary Nav -->
    <ul class="flex b grey-3">
      <li><a href="/products/saketaku" class="ph3 f6 no-underline db">美味しい日本酒セレクション</a></li>
      <li><a href="/products/saketaku/#reviews" class="ph3 f6 no-underline db">レビュー</a></li>
    </ul>

    <!-- Primary Nav -->
    <ul class="flex-l b grey-3 dn">
      <li><a href="//support.saketaku.com/" target=_blank class="ph3 f6 no-underline db">よくある質問</a></li>
      <li><a href="/vision" class="ph3 f6 no-underline db">私たちについて</a></li>
      <li><a href="/subscribe" class="primary ph3 f6 no-underline db">今すぐ購入する</a></li>
    </ul>

  </div>
</nav>