{{ define "main" }}

<div class="bb b--grey-2">
  <div class="ph3 pt3 pb4 center mw9">
    <div class="flex flex-column flex-row-l mhn2-l">
      <div class="f6 w-100 w30-l order-last order-0-l">
        <div class="ph2-l">
          <div class="bt b--grey-2 bw1 pt2">
            <h3 class="f6 b lh-title serif mb2 mb3-ns-l grey-3">
              初めての方でも安心のお試しシステム
            </h3>
            <div class="flex flex-column-l mb3 flex-wrap">
              {{ range $.Site.Data.saketaku.trial.items }}
              <div class="w-33 w-100-l">
                <div class="blur-up lazyload aspect-ratio aspect-ratio--16x9 cover mb3" style="background-image: url({{.image}}-lqip.jpg)" data-bg="{{.image}}.jpg"></div>
              </div>
              {{ end }}
            </div>
          </div>

        </div>
      </div>
      <div class="w-100 order-2 order-2-l">
        <div class="mw9 center ph2 overflow-x-scroll overflow-x-auto-l relative mb5">
          <div class="flex flex-column-l w-100">
            {{ range $.Site.Data.saketaku.table.items }}
              <div class="w-100-l w5">
                <div class="blur-up lazyload aspect-ratio aspect-ratio--1x1 cover mb2" style="background-image: url({{.image}}-lqip.jpg)" data-bgset="{{.image}}-small.jpg [--small] | {{.image}}-medium.jpg [--medium] | {{.image}}-large.jpg"></div>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
      <div class="f6 w-100 w50-l order-0 order-last-l">
        <div class="ph2-l">
          <div class="">
            <h2 class="f4 b lh-title serif mb2">
              saketakuオリジナル<br>美味しい日本酒セレクション
            </h2>
            
            {{ partial "yotpo-badge" }}
            
            <div class="mb3">
              <span class="f6 grey-3">月々</span>
              <span class="f4 b">2,980</span>
              <span class="f6 grey-3">円（税抜）〜</span>
            </div>

            <div class="lh-copy mb3">
              「美味しさ」と「希少性」にこだわった、ソムリエ厳選の極上セレクション。月々2,980円から、入手が困難な全国の極上日本酒を楽しめる特別なプランです。今だけ、送料ずっと無料。安心の全額返金保証付き。
            </div>

            <div class="flex justify-start mb4">
              <a href="/subscribe" class="btn raise mr2">お試しセットを購入する</a>
              <div id="modal1">
                <div id="show-modal" @click="showModal = true" class="btn black pointer" style="box-shadow:inset 0 0 0 2px #000">▷ 動画で内容を見る</div>
                <!-- use the modal component, pass in the prop -->
                <modal v-if="showModal" @close="showModal = false">
                  <div slot="body">
                    <h3 class="b mb3 white"><span class="f6">人気YouTuberさんも高評価！</span><br>巷で話題のsaketakuの魅力をぜひご覧ください！</h3>
                    <div class="youtube relative aspect-ratio aspect-ratio--16x9" style='height:0;'>
                      <iframe class="absolute absolute--fill"  width="100%" height="100%" src="https://www.youtube.com/embed/jGVqpL7kdJk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                </modal>
              </div>
            </div>

            <div class="lh-copy mb4">
              {{ range $.Site.Data.saketaku.product.contents }}
                  <div class="">
                    <div class="mb3">
                      <h3 class="lh-title b mb2 f6">{{.heading|safeHTML}}</h3>
                      <ul>
                        {{range .items}}
                          <li class="bb b--grey-2 pv2">
                            <h4 class='lh-title grey-3' style="font-size: .75rem">{{.heading|safeHTML}}</h4>
                          </li>
                        {{ end }}
                      </ul>
                    </div>
                  </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ partial "home/reviews" $.Site.Data.saketaku.reviews}}
{{ partial "home/brands" $.Site.Data.saketaku.brands }}
{{ partial "home/steps" $.Site.Data.saketaku.steps }}
{{ partial "home/season" $.Site.Data.saketaku.season}}
{{ partial "home/process" $.Site.Data.saketaku.process}}
{{ partial "home/pos" $.Site.Data.saketaku.pos}}
{{ partial "home/checklist" $.Site.Data.saketaku.checklist}}
{{ partial "home/rewards" $.Site.Data.saketaku.rewards}}
{{ partial "home/campaign" $.Site.Data.saketaku.campaign}}
{{ partial "home/appetiser" $.Site.Data.saketaku.appetiser}}
{{ partial "home/days" $.Site.Data.saketaku.days}}
{{ partial "home/product" $.Site.Data.saketaku.product}}
{{ partial "home/trial" $.Site.Data.saketaku.trial }}
{{ partial "home/middleman" $.Site.Data.saketaku.middleman}}
{{ partial "home/safe" $.Site.Data.saketaku.safe}}
{{ partial "home/message" $.Site.Data.saketaku.message}}
{{ partial "home/professional" $.Site.Data.saketaku.professional}}
{{ partial "home/promise" $.Site.Data.saketaku.promise}}
{{ partial "home/return" $.Site.Data.saketaku.return}}
{{ partial "home/voice" $.Site.Data.saketaku.voice}}
{{ partial "home/amb" $.Site.Data.saketaku.amb}}
{{ partial "home/news" $.Site.Data.saketaku.news}}
{{ partial "home/help" $.Site.Data.saketaku.help}}



{{ end }}
