<div class="pv4">
  <div class="ph3 mw9 center">
    <div class="mw9 flex justify-between flex-wrap">
      <div class="w-40-l ph2-l mb5">
        {{with .leader}}<div class="f5 b lh-title mb2">{{.|safeHTML}}</div>{{end}}
        <h2 class="f2 b lh-title mb2">{{.heading|safeHTML}}</h2>
        <p classs="mb5">{{.text|safeHTML}}</p>
        {{with .button}}<a href="{{.url}}" class="b no-underline bb pb1 bw1">{{.text}}</a>{{ end }}
      </div>
      <div class="w-60-l w-100 ph2-l mb5 flex justify-between flex-wrap">
        {{ range .items }}
          <div class="ph2-l mb3 w-50-l">
            <div class="pa3 bg-grey-1">
              <h3 class="lh-title b mb2 f5">{{.heading|safeHTML}}</h3>
              <div class="w-100 flex flex-wrap justify-start items-center">
                <div class="w-20 pr3">
                  <div class="br-100 lazyload aspect-ratio aspect-ratio--1x1 cover" data-bgset="{{.image}}"></div>
                </div>
                <div>
                  <div class="f6 grey-3 lh-title mb1">{{.tagline|safeHTML}}</div>
                  <div class="f6 b grey-3 lh-title"><a href="{{.url}}" target=_blank>{{.author|safeHTML}}</a>さん</div>
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>

  </div>
</div>
