<div class="pv4">
  <div class="ph3 mw9 center">
    <div class="mw9 flex justify-between flex-wrap">
      <div class="w-40-l ph2-l mb5">
        {{with .leader}}<div class="f5 b lh-title mb2">{{.|safeHTML}}</div>{{end}}
        <h2 class="f2 b lh-title mb2">{{.heading|safeHTML}}</h2>
        <p>{{.text|safeHTML}}</p>
      </div>
      <div class="w-60-l w-100 ph2-l mb5">
        <img data-srcset="{{.image}}-small.jpg 40em, {{.image}}-large.jpg" class="lazyload">
      </div>
    </div>

  </div>
</div>
