<div class="pv4">
  <div class="ph3 mw9 center">
    <div class="mw9">
      <div class="ph2-l mb5">
        {{with .leader}}<div class="f5 b lh-title mb2">{{.|safeHTML}}</div>{{end}}
        <h2 class="f2 b lh-title mb2">{{.heading|safeHTML}}</h2>
        <p>{{.text|safeHTML}}</p>
      </div>
    </div>
    <div class="w-100 ph2-l">
      <div class="blur-up lazyload aspect-ratio aspect-ratio--1x1 cover mb3" style="background-image: url({{.image}}-lqip.jpg)" data-bgset="{{.image}}-small.jpg [--small] | {{.image}}-medium.jpg [--medium] | {{.image}}-large.jpg"></div>
    </div>
  </div>
</div>
