




<div class="pv3 ph3">
  <div class="flex-l items-center ph3-l pt3 pb4 center mw9">
    <div class="w-40-l relative mb5">
      <div class="mb3 w-80-l w-50-m w-80">
        <img src="/img/home/hero/copy.svg" alt="美味しい日本酒に毎月出会おう。"> 
      </div>
      {{ partial "yotpo-badge" }}
      <div class="mb4">
        {{ if .subtitle }}
          <p class="b f4 di lh-title mb3 mw6">
            {{.subtitle | safeHTML}}
          </p>
        {{ end }}
      </div>
      <div class="flex justify-start mb3">
        <a href="/subscribe" class="btn raise mr3">お試しセットを購入する</a>
        <div id="modal1">
          <div id="show-modal" @click="showModal = true" class="btn black pointer" style="box-shadow:inset 0 0 0 2px #000">▷ 動画で内容を見る</div>
          <!-- use the modal component, pass in the prop -->
          <modal v-if="showModal" @close="showModal = false">
            <div slot="body">
              <h3 class="b mb3 white"><span class="f6">人気YouTuberさんも高評価！</span><br>巷で話題のsaketakuの魅力をぜひご覧ください！</h3>
              <div class="youtube relative aspect-ratio aspect-ratio--16x9" style='height:0;'>
                <iframe class="absolute absolute--fill"  width="100%" height="100%" src="https://www.youtube.com/embed/jGVqpL7kdJk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </modal>
        </div>
      </div>
      <p class="f6 grey-3 lh-copy">大変ご好評のため、毎月<span class="b">先着150名様のみ</span>新規のご入会を受け付けています。定員に達した場合は、翌月以降でメールにてご案内させていただきます。</p>
    </div>
    <div class="w-60-l">
      <div class="w-100 pb4-l pt3-l flex items-center justify-center">
        <div class="w-80-l w-100">
          <div class="lazyload blur-up aspect-ratio aspect-ratio--1x1 cover" style="background-image: url({{.image}}-lqip.jpg)" data-bgset="{{.image}}-small.jpg [--small] | {{.image}}-large.jpg"></div>
          <div class="f6 grey-3 lh-title mt3">{{.caption|safeHTML}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fixed dn-ns bottom-1 tc w-100 z-5">
  <a class="lh-title dib bg-primary ph2 pv2 f6 b no-underline white br1" href="/subscribe">お試しセットを購入する</a>
</div>