


<script type="text/x-template" id="modal-template">
  <transition name="modal">

    <div class="fixed z-999 absolute--fill flex items-center content-center modal-mask">

        <div class="modal-container mw7 center tc w-100">

          <div class="modal-header mb4">
            <slot name="header">
              default header
            </slot>
          </div>

          <div class="modal-body mb3">
            <slot name="body">
              default body
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <div class="white b dib pb1 pointer bb bw1 modal-default-button" @click="$emit('close')">
                閉じる
              </div>
            </slot>
          </div>
        </div>
      </div>

  </transition>
</script>



<div class="pv3 ph3">
  <div class="flex-l items-center ph3-l pt3 pb4 center mw9">
    <div class="w-40-l relative mb5">
      <div class="mb3 w-80-l w-50-m w-80">
        <img src="/img/home/hero/copy.svg" alt="美味しい日本酒に毎月出会おう。"> 
      </div>
      <style>
        .yotpo {
          margin-bottom: 1rem;
        }
        .yotpo .text-m {
          margin-left: .25rem;
        }
      </style>
      <div class="yotpo bottomLine b"
        data-appkey="ll6NIsvNfEZRWovqNqpTdfiR0xi01Os0NVDvyXWS"
        data-domain="saketaku.com"
        data-product-id="yotpo_site_reviews"
        data-product-models="saketaku"
        data-name="saketaku"
        data-url="https://saketaku.com"
        data-image-url=""
        data-description="the future of sake experience"
        data-bread-crumbs="Product categories">
      </div>
      <div class="mb4">
        {{ if .subtitle }}
          <p class="b f4 di lh-title mb3 mw6">
            {{.subtitle | safeHTML}}
          </p>
        {{ end }}
      </div>
      <div class="flex justify-start mb3">
        <a href="/subscribe" class="btn raise mr3">お試しセットを購入する</a>
        <div id="modal1">
          <div id="show-modal" @click="showModal = true" class="btn black pointer" style="box-shadow:inset 0 0 0 2px #000">▷ 動画で様子を見る</div>
          <!-- use the modal component, pass in the prop -->
          <modal v-if="showModal" @close="showModal = false">
            <h3 slot="header" class="b mb3 white"><span class="f6">温かい家族をメインとした動画で人気の</span><br>YouTuberケニチさんにも、ご好評いただきました！</h3>
            <div slot="body">
              <div class="youtube relative aspect-ratio aspect-ratio--16x9" style='height:0;'>
                <iframe class="absolute absolute--fill"  width="100%" height="100%" src="https://www.youtube.com/embed/jGVqpL7kdJk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </modal>
        </div>
      </div>
      <p class="f6 grey-3">大変ご好評につき、新規ご入会は毎月<span class="b">限定150名様のみ</span>とさせていただきます。定員に達した場合は、恐れ入りますが翌月以降の配送開始となります。ご了承ください。</p>
    </div>
    <div class="w-60-l">
      <div class="w-100 pb4-l pt3-l flex items-center justify-center">
        <div class="w-80-l w-100">
          <div class="lazyload blur-up aspect-ratio aspect-ratio--1x1 cover" style="background-image: url({{.image}}-lqip.jpg)" data-bgset="{{.image}}-small.jpg [--small] | {{.image}}-large.jpg"></div>
          <div class="f6 grey-3 lh-title mt3">{{.caption|safeHTML}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fixed dn-ns bottom-1 tc w-100 z-5">
  <a class="lh-title dib bg-primary ph2 pv2 f6 b no-underline white br1" href="/subscribe">お試しセットを購入する</a>
</div>