
<div id="product" class="pv4">
  <div class="ph3 pt3 pb4 center mw9">
    <h2 class="f2 b lh-title mb2">{{.heading|safeHTML}}</h2>
    <p>
      {{.text|safeHTML}}
    </p>
    <div class="tl-l tc mt4">
      <a href="/subscribe" class="btn raise">お試しセットを購入する</a>
    </div>

  </div>
  <div class="w-100 ph2-l mb5">
    <div class="blur-up lazyload aspect-ratio aspect-ratio--1x1 cover mb3" style="background-image: url({{.image}}-lqip.jpg)" data-bgset="{{.image}}-small.jpg [--small] | {{.image}}-medium.jpg [--medium] | {{.image}}-large.jpg"></div>
  </div>
  <div class="mhn1-l ph3 pt3 pb4 center mw9">
    {{ range .contents }}
      <div class="flex-l mb5">
        <div class="w-40-l">
          <div class="mb3">
            <h3 class="lh-title b mb2 f4">{{.heading|safeHTML}}</h3>
            <ul>
              {{range .items}}
                <li class="lh-title f6 bb b--grey-2 pv2">
                  <h4 class='b mb1'>{{.heading|safeHTML}}</h4>
                  <p class='grey-3 mb0'>{{.text|safeHTML}}</p>
                </li>
              {{ end }}
            </ul>
          </div>
        </div>
        <div class="w-60-l pl4-l">
          <div class="flex flex-wrap mhn2">
            {{range .items}}
              <div class="w-50 ph2">
                <div class="blur-up lazyload aspect-ratio aspect-ratio--16x9 cover mb3" style="background-image: url({{.image}}-lqip.jpg)" data-bgset="{{.image}}-small.jpg [--small] | {{.image}}-large.jpg"></div>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    {{ end }}
  </div>
</div>

