
<div id="product" class="pv4">
  <div class="ph3 pt3 pb4 center mw9">
    <h2 class="f2 b lh-title mb2">{{.heading|safeHTML}}</h2>
    <p>
      {{.text|safeHTML}}
    </p>
    <div class="flex justify-start mb5 mt4">
      <a href="/subscribe" class="btn raise mr3">お試しセットを購入する</a>
      <div id="modal2">
        <div id="show-modal" @click="showModal = true" class="btn black pointer" style="box-shadow:inset 0 0 0 2px #000">▷ 内容を動画で見る</div>
        <!-- use the modal component, pass in the prop -->
        <modal v-if="showModal" @close="showModal = false">
          <div slot="body">
            <h3 class="b mb3 white"><span class="f6">人気YouTuberさんにご紹介いただきました！</span><br>魅力がたくさん詰まったsaketakuをぜひご覧ください</h3>
            <div class="youtube relative aspect-ratio aspect-ratio--16x9" style='height:0;'>
              <iframe class="absolute absolute--fill"  width="100%" height="100%" src="https://www.youtube.com/embed/OJXtDEPSRck?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </modal>
    </div>

  </div>
  <div class="w-100 mb5">
    <div class="blur-up lazyload aspect-ratio aspect-ratio--1x1 cover mb3" style="background-image: url({{.image}}-lqip.jpg)" data-bgset="{{.image}}-small.jpg [--small] | {{.image}}-medium.jpg [--medium] | {{.image}}-large.jpg"></div>
  </div>
  <div class="mhn1-l ph3 pt3 pb4 center mw9">
    {{ range .contents }}
      <div class="flex-l mb5">
        <div class="w-40-l">
          <div class="mb3">
            <h3 class="lh-title b mb2 f4">{{.heading|safeHTML}}</h3>
            <ul>
              {{range .items}}
                <li class="lh-title f6 bb b--grey-2 pv2">
                  <h4 class='b mb1'>{{.heading|safeHTML}}</h4>
                  <p class='grey-3 mb0'>{{.text|safeHTML}}</p>
                </li>
              {{ end }}
            </ul>
          </div>
        </div>
        <div class="w-60-l pl4-l">
          <div class="flex flex-wrap mhn2">
            {{range .items}}
              <div class="w-50 ph2">
                <div class="blur-up lazyload aspect-ratio aspect-ratio--16x9 cover mb3" style="background-image: url({{.image}}-lqip.jpg)" data-bgset="{{.image}}-small.jpg [--small] | {{.image}}-large.jpg"></div>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    {{ end }}
  </div>
</div>

