
<div id="reviews" class="pv4">
  <div class="ph3 pt3 pb4 center mw9 flex flex-wrap justify-content">
    <div class="w-40-l">
      {{with .leader}}<div class="f5 b lh-title mb2">{{.|safeHTML}}</div>{{end}}
      <h2 class="f2 b lh-title mb2">{{.heading|safeHTML}}</h2>
      <p>
        {{.text|safeHTML}}
      </p>
      <div class="tl-l tc mt4 mb5">
        <a href="/subscribe" class="btn raise">お試しセットを購入する</a>
      </div>
    </div>
    <div class='w-60-l pl4-l'>
      <div class="yotpo yotpo-main-widget"
        data-product-id="yotpo_site_reviews"
        data-name="saketaku日本酒の定期便"
        data-url="https://saketaku.com"
        data-image-url="https://saketaku.com"
        data-description="saketakuの月々プラン">
      </div>
    </div>

  </div>
</div>

