<div class="pv4">
  <div class="ph3 mw9 center">
    <div class="mw9 flex justify-between flex-wrap">
      <div class="w-40-l ph2-l mb5">
        <h2 class="f2 b lh-title mb2">{{.heading|safeHTML}}</h2>
        <p>{{.text|safeHTML}}</p>
      </div>
      <div class="w-60-l w-100 ph2-l mb5">
        {{ range .items }}
          <div class="mb3 ph2 flex justify-between flex-wrap bb-ns b--grey-2">
            <div class="w-30-l w-100 ph2-l">
              <div class="blur-up lazyload aspect-ratio aspect-ratio--1x1 cover mb3" style="background-image: url({{.image}}-lqip.jpg)" data-bg="{{.image}}.jpg"></div>
            </div>
            <div class="w-70-l ph2-l mb3 mb0-l">
              <h3 class="lh-title b mb2 f3">{{.heading|safeHTML}}</h3>
              <div class="f6 m3 lh-copy">{{.text|safeHTML}}</div>
              {{with .button}}<a href="{{.url}}" class="b no-underline bb pb1 bw1">{{.text}}</a>{{ end }}
            </div>
          </div>
        {{ end }}
        {{ with .more }}
          <div class="mb3 pa4 bg-grey-1">
            <h3 class="lh-title b mb2 f3">{{.heading|safeHTML}}</h3>
            <div class="f6 mb3 lh-copy">{{.text|safeHTML}}</div>
          </div>
        {{ end }}
      </div>
    </div>

  </div>
</div>
