<div id="safe" class="pv4">
  <div class="ph3 mw9 center">
    <div class="mw9 flex justify-between flex-wrap">
      <div class="w-40-l ph2-l mb5">
        {{with .leader}}<div class="f5 b lh-title mb2">{{.|safeHTML}}</div>{{end}}
        <h2 class="f2 b lh-title mb2">{{.heading|safeHTML}}</h2>
        <p>{{.text|safeHTML}}</p>
      </div>
      <div class="w-60-l w-100 ph2-l mb5">
        <div class="lazyload aspect-ratio aspect-ratio--16x9 cover mb3" data-bgset="{{.image}}-small.jpg [--small] | {{.image}}-large.jpg"></div>
      </div>
    </div>

  </div>
</div>
