<div class="pv4">
  <div class="ph3 mw9 center flex-l">
    <div class="ph2-l mb4">
      <h2 class="f2 b lh-title mb2">{{.heading|safeHTML}}</h2>
      <p>{{.text|safeHTML}}</p>
    </div>
  </div>
  <div class="ph3 mw9 center flex-l mb5">
    <div class="w-100">
      <div class="blur-up lazyload aspect-ratio aspect-ratio--16x9 cover" style="background-image: url({{.image}}-lqip.jpg)" data-bgset="{{.image}}-small.jpg [--small] | {{.image}}-medium.jpg [--medium] | {{.image}}-large.jpg"></div>
    </div>
  </div>
</div>
