{{ define "main" }}

<style>
  .progbar div[data-index='0'] {
    width: 25%;
  }
  .progbar div[data-index='1'] {
    width: 50%;
  }
  .progbar div[data-index='2'] {
    width: 75%;
  }
  .progbar div[data-index='3'] {
    width: 100%;
  }

  #form_select_plan button.btn.valid {
    background: rgba(136, 186, 13, 1);
    color: #fff;
    opacity: 1;
  }
</style>


<div class="ph3 pb6">
  <div class="center mw6 pv3">

    <div id="app">
      <div class="jump flex items-center justify-center">
        <div class="jump-text">
          <span class="jump-animation">s</span>
          <span class="jump-animation">a</span>
          <span class="jump-animation">k</span>
          <span class="jump-animation">e</span>
          <span class="jump-animation">t</span>
          <span class="jump-animation">a</span>
          <span class="jump-animation">k</span>
          <span class="jump-animation">u</span>
        </div>
      </div>
      <div class="progbar absolute top-0 left-0 right-0">
        <div style="height:0.3rem" class="bg-primary" v-bind:data-index="questionIndex"></div>
      </div>
      <div v-for="(question, index) in questions.questions">
        <div v-show="index === questionIndex">
          <h2 class="b f3 tc mb1">
            <span class="f6 grey-3 db mb1">
              ステップ ((index+1)) / ((questions.questions.length))
            </span>
            (( question.heading ))
          </h2>
          <div class="tc f6 grey-3 mb3">
            <div v-if="index === 1">
              <span class="o-60">ご選択中の内容：</span>
              <br>美味しい日本酒
              <span class="b primary">(( plan_scores[0] ))本</span>
              をお届け
            </div>
            <div v-if="question.plan">
              <div class="f6 grey-3 db mb3">ご希望のプランをカートに入れてください</div>
              <div>
                <span class="o-60">ご選択中の内容：</span>
                <br>美味しい日本酒
                <span class="b primary">(( plan_scores[0] ))本</span>
                を
                <span class="b primary">(( plan_scores[1] === 0.5 ? '2ヶ月に1回' : '毎月' ))</span>
                お届け
              </div>
            </div>
            <div v-if="question.register">
              <div class="f6 grey-3 db mb1">お疲れ様です、あともう少しで完了です。</div>
              <div>
                <span class="o-60">ご選択中の内容：</span>
                <br>美味しい日本酒
                <span class="b primary">(( plan_scores[0] ))本</span>
                を
                <span class="b primary">(( plan_scores[1] === 0.5 ? '2ヶ月に1回' : '毎月' ))</span>
                お届けする
                「
                <span v-for="choise in plans.choises" class="b primary">
                  <span v-if="choise.score === total">
                    (( plan_selected_url === choise.product.url ? choise.heading : '' ))
                  </span>
                </span>
                」
              </div>
            </div>
          </div>
          <div v-if="!question.plan || !question.register" class="flex-m justify-center flex-wrap mb3">
            <div v-for="response in question.responses" class="ph2-m mb2 w-50-m">
              <div class="bg-grey-1 br1 tc-m relative raise">
                <div class="absolute w-100 h-100 z-5">
                  <input v-bind:value="response.score"
                         v-bind:name="index"
                         v-model="plan_scores[index]"
                         v-on:click="next"
                         type=radio
                         v-bind:id="((response.id))" 
                         class="dn"
                         >
                  <label v-bind:for="(( response.id ))" class="db absolute absolute--fill pointer"></label>
                </div>
                <div class="pa3 flex flex-column-m items-center justify-between">
                  <div class="w4 mb3-m">
                    <img v-bind:src="((response.image))" alt="">
                  </div>
                  <div class="pl3 pl0-m w-100">
                    <div v-if="response.isRecommended" class="b primary f6 mb1">
                      ＼人気です！／
                    </div>
                    <div v-else="" class="f6 mb1 o-0 dn db-m">.</div>
                    <h3 class='b f5 lh-title mb2'>
                      ((response.heading))
                    </h3>
                    <p class='f6 lh-title mb0'>
                      ((response.text))
                    </p>
                  </div>
                  <div class="dn-m">></div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="question.plan"
               class="flex-m justify-center flex-wrap mb3">
            <div class="ph2-m mb2 w-50-m relative" v-for="choise in plans.choises">
              <div class="pa3 flex flex-column-m items-center justify-between bg-grey-1 br1 tc-l raise pointer" v-if="choise.score === total">
                <div class="absolute w-100 h-100 z-5">
                  <input v-bind:value="choise.product.url"
                         v-bind:name="index"
                         v-model="plan_selected_url"
                         v-on:click="next"
                         type="radio"
                         v-bind:id="(( question.id ))" 
                         class="dn"
                         >
                  <label v-bind:for="(( question.id ))" class="db absolute absolute--fill pointer"></label>
                </div>
                
                <div class="w5 tc-ns">
                  <div v-if="choise.isRecommended" class="b primary f6 mb1">
                    ＼今だけオトク！／
                  </div>
                  <div v-else="" class="f6 mb1 o-0 dn db-m">.</div>
                  <h3 class="b f5 lh-title mb2 ">(( choise.heading ))</h3>
                </div>
                <ul class="w-100">
                  <li class='f6 bb b--grey-2 pv2 lh-solid'>
                    <span style="font-size:0.75rem">初回</span>
                    <span class="b f4 mh1">
                      (( choise.product.price.first | moneyDelimiter ))
                    </span>
                    <span style="font-size:0.75rem;">円（税抜）</span>
                  </li>
                  <li v-if="choise.product.price.second"
                      class='f6 bb b--grey-2 pv2 lh-solid'>
                    <span style="font-size:0.75rem;">2回目</span>
                    <span class="b f5 mh1">(( choise.product.price.second | moneyDelimiter ))</span>
                    <span style="font-size:0.75rem;">円（税抜）</span>
                  </li>
                  <li class='f6 pv2 lh-solid'>
                    <span style="font-size:0.75rem;">以降</span>
                    <span class="b f5 mh1">(( choise.product.price.base | moneyDelimiter ))</span>
                    <span style="font-size:0.75rem;">円（税抜）</span>

                  </li>

                  <!-- お届け1回分の料金割り出し -->
                  <!-- 12回分お届け総額を基本として考える -->
                  <!-- 6ヶ月プラン or 12ヶ月プラン -->
                  <li v-if='choise.product.price.second === null'
                      class='f6 bt b--grey-2 pv2 lh-solid'>
                    <span style="font-size:0.75rem;">お届け1回分</span>
                    <span class="b f5 mh1">

                      <!-- 12ヶ月プラン -->
                      <span v-if="choise.product.frequency === 1">
                        (( choise.product.price.first / 12 | moneyDelimiter ))
                      </span>
                      <span v-if="choise.product.frequency === 0.5">
                        (( choise.product.price.first / 6 | moneyDelimiter ))
                      </span>

                      
                    </span>
                    <span style="font-size:0.75rem;">円（税抜）</span>
                  </li>
                  <li class='f6 mt3'>
                    <div class="lh-title pb2 b">今だけのキャンペーン特典</div>
                    1. <span class="b lh-title">送料ずっと無料！*</span><br>
                    2. 合計
                    <span v-if="choise.product.price.second"
                          class="b lh-title">
                      (( 
                        choise.product.price.base * 2
                        - (choise.product.price.first + choise.product.price.second) 
                         | moneyDelimiter
                       ))
                    </span>
                    <span v-else
                          class="b lh-title">
                      (( 
                        choise.product.price.base - choise.product.price.first
                         | moneyDelimiter
                       ))
                    </span>
                    円割引き
                  </li>
                </ul>
                <div class="dn-m pl3">></div>
              </div>
            </div>
          </div>
          <div v-if="question.register"
               class="mb3">
            <div class="mw6-ns ph5-ns pv3-l pa3 center bg-grey-1 br1">
              
              <form id="form_select_plan" v-bind:data-plan="(( plan_selected_url ))">
                <div class="mhn1-l mw-100 center">
                  <!-- Name -->
                  <div class="mb3">
                    <fieldset>
                      <label class="f6 grey-3 lh-copy" for="name">お名前（必須、名字だけで構いません）</label>
                      <input 
                        type="text" 
                        id="name"
                        v-model.trim="name" 
                        @input="delayTouch($v.name)"
                        placeholder="名前を入力する"
                        class="w-100 mb2">
                      <span class="f6 primary b" v-if="!$v.name.required">お名前は必須です</span>
                    </fieldset>
                  </div>
                  <!-- Email -->
                  <div class="mb3">
                    <fieldset>
                      <label class="f6 grey-3 lh-copy" for="email">メールアドレス（必須）</label>
                      <input 
                        type="email"
                        id="email"
                        name="email"
                        v-model.trim="email" 
                        @input="delayTouch($v.email)"
                        placeholder="メールアドレスを入力する" 
                        class="w-100 mb2">
                      <span class="f6 primary b" v-if="!$v.email.required">メールアドレスは必須です</span>
                      <span class="f6 primary b" v-if="!$v.email.email">メールアドレスに不備があります</span>
                    </fieldset>
                  </div>
                </div>
                <!-- Button -->
                <div class="tc mw5-l center">
                  <button 
                    type="submit"
                    v-on:click="submit"
                    class="btn w-100 o-30"
                    v-bind:class="{error: $v.name.$error, valid: $v.name.$dirty && !$v.name.$invalid}">
                    仮登録をしてカートへ進む</button>
                </div>
              </form>

            </div>
          </div>
          <div class="ph2-l lh-copy f6 grey-3 tc">((question.caption))</div>
        </div>
        
      </div>
    </div>
  </div>
</div>





{{ end }}
