{{ define "main" }}

<style>
  .progbar div[data-index='0'] {
    width: 25%;
  }
  .progbar div[data-index='1'] {
    width: 50%;
  }
  .progbar div[data-index='2'] {
    width: 75%;
  }
  .progbar div[data-index='3'] {
    width: 100%;
  }

  #form_select_plan button.btn {
  }
  #form_select_plan button.btn.valid {
    background: rgba(136, 186, 13, 1);
    color: #fff;
    opacity: 1;
  }



</style>


<div class="ph3 pb6">
  <div class="center mw7 pv3">

    <div id="app">

      <div class="progbar absolute top-0 left-0 right-0">
        <div style="height:0.3rem" class="bg-primary" v-bind:data-index="questionIndex"></div>
      </div>
      <div v-for="(question, index) in questions.questions">
        <div v-show="index === questionIndex">
          <h2 class="b f3 tc mb3">
            <span class="f6 grey-3 db mb1">
              ステップ ((index+1)) / ((questions.questions.length))
            </span>
            (( question.heading ))
            <span v-if="question.plan" class="f6 grey-3 db mb1">
              ご希望のプランをカートに入れてください
            </span>
            <span v-if="question.register" class="f6 grey-3 db mb1">
              お疲れ様です、あともう少しで完了です。
            </span>
          </h2>
          <div v-if="!question.plan || !question.register" class="flex-m justify-center flex-wrap mb3">
            <div v-for="response in question.responses" class="ph2-m mb2 w-33-m">
              <div class="bg-grey-1 br1 tc-m relative raise">
                <div class="absolute w-100 h-100 z-5">
                  <input v-bind:value="response.score"
                         v-bind:name="index"
                         v-model="plan_scores[index]"
                         v-on:click="next"
                         type=radio
                         v-bind:id="((response.id))" 
                         class="dn"
                         >
                  <label v-bind:for="(( response.id ))" class="db absolute absolute--fill pointer"></label>
                </div>
                <div class="pa3 flex flex-column-m items-center justify-between">
                  <div class="w4 mb3-m">
                    <img v-bind:src="((response.image))" alt="">
                  </div>
                  <div class="pl3 pl0-m w-100">
                    <h3 class='b f5 lh-title mb2'>
                      ((response.heading))
                    </h3>
                    <p class='f6 lh-title mb0'>
                      ((response.text))
                    </p>
                  </div>
                  <div class="dn-m">></div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="question.plan"
               class="flex-m justify-center flex-wrap mb3">
            <div class="ph2-m mb2 w-33-m relative" v-for="choise in plans.choises">
              <div class="pa3 flex flex-column-m items-center justify-between bg-grey-1 br1 tc-l raise pointer" v-if="choise.score === total">
                <div class="absolute w-100 h-100 z-5">
                  <input v-bind:value="choise.product.url"
                         v-bind:name="index"
                         v-model="plan_selected_url"
                         v-on:click="next"
                         type="radio"
                         v-bind:id="(( question.id ))" 
                         class="dn"
                         >
                  <label v-bind:for="(( question.id ))" class="db absolute absolute--fill pointer"></label>
                </div>
                
                <div class="w5 tc-ns">
                  <div v-if="choise.isRecommended" class="b primary f6 mb1">
                    ＼人気です！／
                  </div>
                  <h3 class="b f5 lh-title mb2 ">(( choise.heading ))</h3>
                </div>
                <ul class="w-100">
                  <li class='f6 bb b--grey-2 pv2 lh-solid'>
                    初回
                    <span class="b f4 mh1">
                      (( choise.product.price.first | moneyDelimiter ))
                    </span>
                    円（税抜）
                  </li>
                  <li v-if="choise.product.price.second"
                      class='f6 bb b--grey-2 pv2 lh-solid'>
                    2回目
                    <span class="b f5 mh1">(( choise.product.price.second | moneyDelimiter ))</span>
                    円（税抜）
                  </li>
                  <li class='f6 pv2 lh-solid'>
                    以降
                    <span class="b f5 mh1">(( choise.product.price.base | moneyDelimiter ))</span>
                    円（税抜）
                  </li>
                  <li v-if='choise.product.price.second === null'
                      class='f6 bt b--grey-2 pv2 lh-solid'>
                      お届け1回分
                      <span class="b f5 mh1">
                        (( choise.product.price.first / (choise.product.period * choise.product.frequency) | moneyDelimiter ))
                      </span>
                      円（税抜）
                  </li>
                  <li class='f6 mt3'>
                    <div class="lh-title pb2 b">今だけのキャンペーン特典</div>
                    1. <span class="b lh-title">送料ずっと無料！*</span><br>
                    2. 合計
                    <span v-if="choise.product.price.second"
                          class="b lh-title">
                      (( 
                        choise.product.price.base - choise.product.price.first +
                        choise.product.price.base - choise.product.price.second 
                         | moneyDelimiter
                       ))
                    </span>
                    <span v-else
                          class="b lh-title">
                      (( 
                        choise.product.price.base - choise.product.price.first
                         | moneyDelimiter
                       ))
                    </span>
                    円割引き
                  </li>
                </ul>
                <div class="dn-m pl3">></div>
              </div>
            </div>
          </div>
          <div v-if="question.register"
               class="mb3">
            <div class="mw6-ns ph5-ns pv3-l pa3 center bg-grey-1 br1">
              
              <form id="form_select_plan" v-bind:data-plan="(( plan_selected_url ))">
                <div class="mhn1-l mw-100 center">
                  <!-- Name -->
                  <div class="mb3">
                    <fieldset>
                      <label class="f6 grey-3 lh-copy" for="name">お名前（必須、名字だけで構いません）</label>
                      <input 
                        type="text" 
                        id="name"
                        v-model.trim="name" 
                        @input="delayTouch($v.name)"
                        placeholder="名前を入力する"
                        class="w-100 mb2">
                      <span class="f6 primary b" v-if="!$v.name.required">お名前は必須です</span>
                    </fieldset>
                  </div>
                  <!-- Email -->
                  <div class="mb3">
                    <fieldset>
                      <label class="f6 grey-3 lh-copy" for="email">メールアドレス（必須）</label>
                      <input 
                        type="email"
                        id="email"
                        name="email"
                        v-model.trim="email" 
                        v-bind:input="delayTouch($v.email)"
                        placeholder="メールアドレスを入力する" 
                        class="w-100 mb2">
                      <span class="f6 primary b" v-if="!$v.email.required">メールアドレスは必須です</span>
                      <span class="f6 primary b" v-if="!$v.email.email">メールアドレスに不備があります</span>
                    </fieldset>
                  </div>
                </div>
                <!-- Button -->
                <div class="tc mw5-l center">
                  <button 
                    type="submit"
                    v-on:click="submit"
                    class="btn w-100 o-30"
                    v-bind:class="{error: $v.name.$error, valid: $v.name.$dirty && !$v.name.$invalid}">
                    仮登録をしてカートへ進む</button>
                </div>
              </form>

            </div>
          </div>
          <div class="ph2-l lh-copy f6 grey-3 tc">((question.caption))</div>
        </div>
        
      </div>
    </div>
  </div>
</div>





{{ end }}
