{{ define "main" }}

{{ partial "jumbotron" (dict "title" .Title "subtitle" .Params.subtitle) }}

<div class="mw7 center ph3 pt4">
  <div class="bb b--grey-1 pb5 mb5">
    {{with .Params.mission}}
      <h3 class="lh-title f3 mb3 b">{{.heading|safeHTML}}</h3>
      <div class="b" style="letter-spacing:.05em;">{{.text|safeHTML}}</div>
    {{end}}
  </div>
  <div class="bb b--grey-1 mb5">
    {{ range .Params.values }}
      <h3 class="lh-title f3 b mb3">{{ .heading|safeHTML }}</h3>
      <div class="b mb5" style="letter-spacing:.05em;">{{.text|safeHTML}}</div>
    {{ end }}
  </div>

  {{ with .Params.message }}
    <h3 class="lh-title f3 b mb5">{{ .heading|safeHTML }}</h3>
  {{ end }}
  <div class="b mb5" style="letter-spacing:.05em;">{{ .Content }}</div>
  

</div>

{{ end }}
