{{ define "main" }}

{{ partial "home/hero" .Params.hero }}
{{ partial "home/problem" $.Site.Data.saketaku.problem}}
{{ partial "home/steps" $.Site.Data.saketaku.steps }}
{{ partial "home/trial" $.Site.Data.saketaku.trial }}
{{ partial "home/brands" $.Site.Data.saketaku.brands }}
{{ partial "home/process" $.Site.Data.saketaku.process}}
{{ partial "home/season" $.Site.Data.saketaku.season}}
{{ partial "home/pos" $.Site.Data.saketaku.pos}}
{{ partial "home/checklist" $.Site.Data.saketaku.checklist}}
{{ partial "home/rewards" $.Site.Data.saketaku.rewards}}
{{ partial "home/campaign" $.Site.Data.saketaku.campaign}}
{{ partial "home/appetiser" $.Site.Data.saketaku.appetiser}}
{{ partial "home/days" $.Site.Data.saketaku.days}}
{{ partial "home/product" $.Site.Data.saketaku.product}}
{{ partial "home/reviews" $.Site.Data.saketaku.reviews}}
{{ partial "home/middleman" $.Site.Data.saketaku.middleman}}
{{ partial "home/safe" $.Site.Data.saketaku.safe}}
{{ partial "home/message" $.Site.Data.saketaku.message}}
{{ partial "home/professional" $.Site.Data.saketaku.professional}}
{{ partial "home/promise" $.Site.Data.saketaku.promise}}
{{ partial "home/return" $.Site.Data.saketaku.return}}
{{ partial "home/voice" $.Site.Data.saketaku.voice}}
{{ partial "home/amb" $.Site.Data.saketaku.amb}}
{{ partial "home/news" $.Site.Data.saketaku.news}}
{{ partial "home/help" $.Site.Data.saketaku.help}}

{{ end }}
