{{ define "main" }}

{{ partial "home/hero" .Params.hero }}
{{ partial "home/problem" .Params.problem}}
{{ partial "home/steps" .Params.steps }}
{{ partial "home/brands" .Params.brands }}
{{ partial "home/process" .Params.process}}
{{ partial "home/season" .Params.season}}
{{ partial "home/pos" .Params.pos}}
{{ partial "home/checklist" .Params.checklist}}
{{ partial "home/rewards" .Params.rewards}}
{{ partial "home/campaign" .Params.campaign}}
{{ partial "home/appetiser" .Params.appetiser}}
{{ partial "home/safe" .Params.safe}}
{{ partial "home/days" .Params.days}}
{{ partial "home/product" .Params.product}}
{{ partial "home/reviews" .Params.reviews}}
{{ partial "home/middleman" .Params.middleman}}
{{ partial "home/message" .Params.message}}
{{ partial "home/professional" .Params.professional}}
{{ partial "home/promise" .Params.promise}}
{{ partial "home/return" .Params.return}}
{{ partial "home/voice" .Params.voice}}
{{ partial "home/amb" .Params.amb}}
{{ partial "home/news" .Params.news}}
{{ partial "home/help" .Params.help}}

{{ end }}
